* {
  margin: 0px auto;
  padding: 0px;
  max-width: 1600px;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.center-align {
  align-items: center;
}

.btn {
  background-color: #469165;
  cursor: pointer;
  padding: 16px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.btn2 {
  background: transparent;
  cursor: pointer;
  padding: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
}

.btn:hover {
  background-color: #115d31;
}

.btn2:hover {
  background-color: #727674;
}

.nav-container {
  display: flex;
  width: auto;
  height: 92px;
}

nav .nav-container .logo a img {
  margin: 16px 120px;
  width: 139px;
  height: 60px;
}

.menu {
  display: flex;
  gap: 24px;
  font-size: 16px;
  color: #000000;
  margin: 34px auto;
}

.menu a {
  text-decoration: none;
  color: #000000;
}

.menu-btn {
  margin: 24px 120px;
}

.banner-container {
  align-items: center;
  text-align: center;
  background: url("./assets/hero-bg.png");
  background-position: auto;
  background-repeat: no-repeat;
  padding-top: 115.5px;
  padding-bottom: 179.5px;
}

.banner-p1 {
  color: #30b868;
  width: 229px;
  height: 36px;
  border-radius: 20px;
  padding: 8px 12px 8px 8px;
  margin-bottom: 24px;
  font-size: 16px;
  background-color: #ffffff;
}

.banner-p2 h1 {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 84px;
  width: 770px;
  margin-bottom: 16px;
  background: none;
}

.banner-p2 p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
  width: 770px;
  margin-bottom: 32px;
}

.banner-btn button {
  margin-right: 16px;
  align-items: center;
}

.notes {
  align-items: center;
  text-align: center;
  width: 85%;
  max-width: 1360px;
}

.notes-heading h1 {
  margin-top: 25px;
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 700;
  position: bottom;
}

.notes-heading p {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 44px;
}

.notes-card {
  display: flex;
  gap: 14px;
  text-align: center;
  align-items: center;
  vertical-align: bottom;
}

.notes-card img {
  background-color: #f95555;
  border-radius: 50%;
  padding: 14px;
  margin-bottom: 16px;
  margin-top: 70px;
}
.card-info {
  box-shadow: 0px -1px 10px gray;
  height: 300px;
  width: 322px;
  padding: 0px 24px;
  border-radius: 8px;
}

.card-info h4 {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 700;
}

.brain-container {
  display: flex;
  gap: 60px;
  vertical-align: middle;
  padding: 120px;
}

.brain-details {
  align-content: center;
}

.brain-details p,
.brain-details h1 {
  margin-bottom: 16px;
}

.brain-details p {
  font-size: 16px;
  columns: #469165;
}

.brain-bullets p {
  margin-bottom: 16px;
}

.brain-details h1 {
  font-size: 48px;
  font-weight: 700;
}

.access-container {
  margin: auto 120px;
  padding: 80px 40px;
  text-align: center;
  background-color: #f7f6f2;
  width: 85%;
  max-width: 1360px;
}

.access-container h1 {
  margin-bottom: 16px;
  font-size: 45px;
  font-weight: 700;
}

.access-container p {
  margin-bottom: 24px;
  font-size: 16px;
  color: #627382;
}

.access-container button {
  margin-bottom: 24px;
}

.access-container .TandC {
  color: #627382;
}

footer {
  margin: 120px auto 0px;
  padding: 120px 120px 30px 120px;
  background-color: #001931;
  max-width: 1600px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.f-logo {
  margin-left: 120px;
}

.social {
  color: #ffffff;
  margin-right: 120px;
}

.social p {
  margin-bottom: 16px;
}

.footer-icons a{
  margin-right: 16px;
}

.copyright {
  margin-top: 110px;
  color: #fafafa;
  font-size: 16px;
  text-align: center;
}
